.responsive-table-content() {
  border: 0;
  thead {
    > tr {
      display: none;
    }
    > tr:first-of-type {
      display: block;
      td {
        border: 0;
        display: block;
        width: 100%;
      }
    }
  }
  &.sortable-table {
    > thead {
      display: block;
      margin-bottom: 10px;
    }
    > thead > tr {
      display: block;
      > th {
        display: block;
        padding: 8px;
        font-size: 12px;
        border-bottom-width: 1px;
      }
      > th + th {
        border-top: 0;
      }
    }
  }
  > tbody {
    > tr {
      .clearfix();
      display: block;
      margin-bottom: 20px;
    }
    > tr > td {
      position: relative;
      display: block;
      font-size: 12px;
      padding: 8px;
      &:before {
        display: block;
        width: 50%;
        padding-right: 20px;
        float: left;
        content: attr(data-title);
        font-weight: 600;
        text-align: right;
      }
    }
    > tr > td + td {
      border-top: 0;
    }
  }
}

// @media only screen and (max-width: 1200px) {
@media only screen and (max-width: 900px) {
  .table--dangerous-goods {
    .responsive-table-content();
    > tbody > tr > td .form-control {
      width: auto;
    }
    > tbody > tr > td.text-center {
      text-align: left;
    }
  }
}
// @media only screen and (max-width: 1024px) {
@media only screen and (max-width: 900px) {
  .table.table--open-shipments,
  .table.table--shipment-status,
  .table.table--shipment-information,
  .table.table--my-addresses {
    .responsive-table-content();
  }
}