@import "variables.less";
@import "mixins.less";

// Modules

@import "datepicker.less";
@import "custom-tables.less";


// Global Styles

body {
  background-color: @gray-lightest;
  font-size: 12px;
  font-family: Open sans, Helvetica neue, Helvetica, Arial, sans-serif;
}

// Wrappers

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}

@media(min-width:1280px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid darken(@gray-lightest, 6.5%);
  }
}

// Navigation

// --Topbar

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
  color: @gray-dark
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

// --Sidebar

.sidebar {
  .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar ul li {
  border-bottom: 1px solid darken(@gray-lightest, 6.5%);
  a {
    // text-transform: uppercase;
    // font-size: 10px;
    // font-weight: 600;

    &.active {
      background-color: @gray-lighter;
    }
  }
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media(min-width:1280px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

// Buttons

.btn {
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 10px 14px;
  border: 0;
}
.btn-lg {
  padding: 16px 20px;
}
.btn-sm {
  padding: 6px 10px;
}
.btn-xs {
  padding: 4px 8px;
}
.btn-round {
  border-radius: 100px;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: @brand-primary;
  box-shadow: 0 0 0 1px @brand-primary;
}

.btn-success.btn-outline {
  color: @brand-success;
  box-shadow: 0 0 0 1px @brand-success;
}

.btn-info.btn-outline {
  color: @brand-info;
  box-shadow: 0 0 0 1px @brand-info;
}

.btn-warning.btn-outline {
  color: @brand-warning;
  box-shadow: 0 0 0 1px @brand-warning;
}

.btn-danger.btn-outline {
  color: @brand-danger;
  box-shadow: 0 0 0 1px @brand-danger;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

// Chat Widget

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted @gray-light;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

// Login Page

.login-panel {
  margin-top: 25%;
}

// Flot Charts Containers

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

// DataTables Overrides

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50,50,50,.5);
}

// Circle Buttons 

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

// Grid Demo Elements

.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}

.show-grid {
  margin: 15px 0;
}

// Custom Colored Panels

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: @brand-success;
  .panel-heading {
    border-color: @brand-success;
    color: white;
    background-color: @brand-success;
  }
  a {
    color: @brand-success;
    &:hover {
      color: darken(@brand-success, 15%);
    }
  }
}

.panel-red {
  border-color: @brand-danger;
  .panel-heading {
    border-color: @brand-danger;
    color: white;
    background-color: @brand-danger;
  }
  a {
    color: @brand-danger;
    &:hover {
      color: darken(@brand-danger, 15%);
    }
  }
}

.panel-yellow {
  border-color: @brand-warning;
  .panel-heading {
    border-color: @brand-warning;
    color: white;
    background-color: @brand-warning;
  }
  a {
    color: @brand-warning;
    &:hover {
      color: darken(@brand-warning, 15%);
    }
  }
}


.form-control {
  font-size: 12px;
  box-shadow: none;
}

//------------------------------------//
//  Table sorter
//------------------------------------//

.sortable-table .header {
  &.header {
    position: relative;
    cursor: pointer;
    padding-right: 16px;
    vertical-align: top;
    &:after {
      content: "\f0dc";
      font-family: FontAwesome;
      float: right;
      display: inline-block;
      opacity: 0.45;
      transition: opacity 300ms ease-in-out;
       position: absolute;
      right: 8px;
      top: 8px;

    }
    &:hover:after {
      opacity: 1;
    }
  }
  &.headerSortUp,
  &.headerSortDown {
    color: @brand-info;
  }
  &.headerSortDown {
    &:after {
      content: "\f0d8";
      opacity: 1;
    }
  }
  &.headerSortUp {
    &:after {
      content: "\f0d7";
      opacity: 1;
    }
  }
}

//------------------------------------//
//  Responsiveness
//------------------------------------//

@media only screen and (max-width: 1024px) {

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    // font-size: 10px;
    // padding: 4px;
  }

}

//------------------------------------//
//  Direction nav
//------------------------------------//

.nav--directions {
  padding-top: 20px;
  text-align: right;
}

.btn--back {
  box-shadow: 0 0 0 1px #dfdfdf;
}

.form-horizonta--inputless {
  .control-label + div {
    padding-top: 7px;
  }
}

.navbar--switchers {
  // float: right;
  @media only screen and (max-width: 1280px) {
    text-align: right;
  }
}

.navbar--main {
  > .navbar-header {
    width: 100%;
  }
  &.navbar--sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
}


//------------------------------------//
//  Overwrite collapsing menu
//------------------------------------//

// @media (min-width: 1280px)
//   .navbar-header {
//     float: left;
//   }
//   .navbar-static-top {
//       border-radius: 0;
//   }
// }

// @media (min-width: 1280px) {
//   .navbar-collapse.collapse {
//     clear: both;
//   }
// }
// @media (min-width: 768px) {
//   .navbar-toggle {
//     display: block;
//   }
// }
// @media (min-width: 1280px) {
//   .navbar-toggle {
//     display: none;
//   }
// }
@import "print.less";

