
<?php include_once('partials/back-button.php'); ?>

<h1 class="page-header">Create booking</h1>

<form class="form-horizontal">
  <fieldset>

    <div class="alert alert-danger">
        Wrong postal code and contact.
    </div>

    <div class="alert alert-success">
        Everything is saved.
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <legend>Loading information:</legend>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="selectbasic">Shipment method</label>
          <div class="col-lg-8 col-md-8">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Franko</option>
              <option value="2">Option two</option>
              <option value="3">Option three</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="selectbasic">Load address code</label>
          <div class="col-lg-8 col-md-8">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Option one</option>
              <option value="2">Option two</option>
              <option value="3">Option three</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Name</label>  
          <div class="col-lg-8 col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="Name" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Address</label>  
          <div class="col-lg-8 col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="Address" class="form-control input-md">
          </div>
        </div>
      
        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">No</label>  
          <div class="col-lg-8 col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="No" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Address 2</label>  
          <div class="col-lg-8 col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="Address 2" class="form-control input-md">
          </div>
        </div>

        <div class="form-group has-error">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Postal Code</label>  
          <div class="col-lg-8 col-md-8">
          <input id="textinput" name="textinput" type="text" placeholder="Postal Code" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">City</label>  
          <div class="col-lg-8 col-md-8">
          <input id="textinput" name="textinput" type="text" placeholder="City" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Country Code</label>  
          <div class="col-lg-8 col-md-8">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Option one</option>
              <option value="2">Option two</option>
              <option value="3">Option three</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Province</label>  
          <div class="col-lg-8 col-md-8">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Option one</option>
              <option value="2">Option two</option>
              <option value="3">Option three</option>
            </select>
          </div>
        </div>
        

        <div class="form-group has-error">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Contact</label>  
          <div class="col-lg-8 col-md-8">  
            <input id="textinput" name="textinput" type="text" placeholder="Contact" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Phone</label>  
          <div class="col-lg-8 col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="Phone" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Date</label>  
          <div class="col-lg-8 col-md-8">
            <div class="input-group">
              <input class="datepicker__input form-control" data-date-format="dd-mm-yyyy">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Hour</label>  
          <div class="col-lg-4 col-md-4">

            <input id="textinput" name="textinput" type="text" placeholder="00:00" class="form-control input-md">
          </div>
          <div class="col-lg-4 col-md-4">
            <input id="textinput" name="textinput" type="text" placeholder="00:00" class="form-control input-md">
          </div>
        </div>
        <!-- rows -->
        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Loading Reference</label>  
          <div class="col-lg-8 col-md-8">
            <select multiple class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>


      </div>
      <!-- cols -->
      <div class="col-lg-6 col-md-12">
        <legend>Unloading information:</legend>
        
        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="selectbasic">Shipment method</label>
          <div class="col-lg-8 col-md-8">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Franko</option>
              <option value="2">Option two</option>
              <option value="3">Option three</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="selectbasic">Load address code</label>
          <div class="col-lg-8 col-md-8">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Option one</option>
              <option value="2">Option two</option>
              <option value="3">Option three</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Name</label>  
          <div class="col-lg-8 col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="Name" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Address</label>  
          <div class="col-lg-8 col-md-8">  
            <input id="textinput" name="textinput" type="text" placeholder="Address" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">No</label>  
          <div class="col-lg-8 col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="No" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Address 2</label>  
          <div class="col-lg-8 col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="Address 2" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Postal Code</label>  
          <div class="col-lg-8 col-md-8">
          <input id="textinput" name="textinput" type="text" placeholder="Postal Code" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">City</label>  
          <div class="col-lg-8 col-md-8">
          <input id="textinput" name="textinput" type="text" placeholder="City" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Country Code</label>  
          <div class="col-lg-8 col-md-8">  
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Option one</option>
              <option value="2">Option two</option>
              <option value="3">Option three</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Province</label>  
          <div class="col-lg-8 col-md-8">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Option one</option>
              <option value="2">Option two</option>
              <option value="3">Option three</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Contact</label>  
          <div class="col-lg-8 col-md-8">  
            <input id="textinput" name="textinput" type="text" placeholder="Contact" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Phone</label>  
          <div class="col-lg-8 col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="Phone" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Date</label>  
          <div class="col-lg-8 col-md-8">
            <div class="input-group">
              <input class="datepicker__input form-control" data-date-format="dd-mm-yyyy">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Hour</label>  
          <div class="col-lg-4 col-md-4">

            <input id="textinput" name="textinput" type="text" placeholder="00:00" class="form-control input-md">
          </div>
          <div class="col-lg-4 col-md-4">
            <input id="textinput" name="textinput" type="text" placeholder="00:00" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-4 col-md-4 control-label" for="textinput">Loading Reference</label>  
          <div class="col-lg-8 col-md-8">
            <select multiple class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>

      </div>
      <!-- cols -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
      <!-- cols -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table--dangerous-goods">
                <thead>
                    <tr>
                      <td colspan="13">
                        <h4>Item Lines</h4>
                      </td>
                    </tr>
                    <tr>
                      <th>Delete</th>
                      <th>Dangerous Goods</th>
                      <th>Line No.</th>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Type</th>
                      <th>Weight (kg)</th>
                      <th>Lenght (cm)</th>
                      <th>Width (cm)</th>
                      <th>Height (cm)</th>
                      <th>Loading Meter (lm)</th>
                      <th>Temperature from (C)</th>
                      <th>Temperature to (C)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td class="text-center" data-title="Delete">
                        <a href="" class="btn btn-xs btn-danger btn-outline btn-round"><i class="fa fa-times"></i></a>
                      </td>
                      <td class="text-center" data-title="Dangerous Goods">
                        <span class="text-danger"><i class="fa fa-2x fa-warning"></i></span>
                      </td>
                      <td class="text-center" data-title="Line No.">
                        1
                      </td>
                      <td data-title="Item">
                        <input type="text" name="item" class="form-control input-sm" placeholder="Item">
                      </td>
                      <td data-title="Quantity">
                        <input type="text" name="Quantity" class="form-control input-sm" placeholder="0">
                      </td>
                      <td data-title="Type">
                        <select id="selectbasic" name="selectbasic" class="form-control input-sm">
                          <option value="1">Franko</option>
                          <option value="2">Option two</option>
                          <option value="3">Option three</option>
                        </select>
                      </td>
                      <td data-title="Weight (kg)">
                        <input type="text" name="weight" class="form-control input-sm" placeholder="0">
                      </td>
                      <td data-title="Lenght (cm)">
                        <input type="text" name="length" class="form-control input-sm" placeholder="0">
                      </td>
                      <td data-title="Width (cm)">
                        <input type="text" name="width" class="form-control input-sm" placeholder="0">
                      </td>
                      <td data-title="Height (cm)">
                        <input type="text" name="height" class="form-control input-sm" placeholder="0">
                      </td>
                      <td data-title="Loading Meter (lm)">
                        <input type="text" name="loading-meter" class="form-control input-sm" placeholder="0">
                      </td>
                      <td data-title="Temperature from (C)">
                        <input type="text" name="temperature-from" class="form-control input-sm" placeholder="0">
                      </td>
                      <td data-title="Temperature to (C)">
                        <input type="text" name="temperature-to" class="form-control input-sm" placeholder="0">
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        <div class="actions text-right">
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add Goodsline</button>
            <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Create Booking</button>
            <button type="button" class="btn btn-warning"><i class="fa fa-times"></i> Cancel</button>
          </div>
        </div>
        <!-- actions -->
      </div>
      <!-- cols -->
    </div>
    <!-- row -->


  </fieldset>
</form>
