
<?php include_once('partials/back-button.php'); ?>

<h1 class="page-header">Dangerous goods</h1>

<form class="form-horizontal">
  <fieldset>

    <legend>Item:</legend>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Item no.</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="1" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Item</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="eurolinegood" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Quantity</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="0" class="form-control input-md">
          </div>
        </div>

      </div>
      <!-- cols -->
      <div class="col-lg-4 col-md-12">
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Weight - kg</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="0" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Volume - m3</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="0" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Loading Meter - lm</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="0" class="form-control input-md">
          </div>
        </div>

      </div>
    </div>
    <!-- row -->
    <hr>
    <legend>Reporting dangerous gods</legend>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Adr-Class</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Adr-Classification</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Adr-packing</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Danger identification</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Danger level</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">UN-no.</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">UN-Description</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

      </div>
      <!-- cols -->
    </div>
    <!-- row -->
    <hr>
    <div class="actions text-right">
      <div class="form-group col-md-12">
        <button type="button" class="btn btn-success"><i class="fa fa-check"></i> Ok</button>
        <button type="button" class="btn btn-warning"><i class="fa fa-times"></i> Cancel</button>
      </div>
    </div>
    <!-- actions -->


</fieldset>
</form>
