
<?php include_once('partials/back-button.php'); ?>

<h1 class="page-header">My Addresses</h1>

<form class="form-horizontal">
  <fieldset>

    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="js-sortable-table sortable-table table table-bordered table-striped table--my-addresses">
            <thead>
              <tr>
                <td colspan="7">
                  <h4>My Load addreses</h4>
                </td>
              </tr>
              <tr>
                <th>Contact ID</th>
                <th>Load address code</th>
                <th>Name</th>
                <th>Address</th>
                <th>Postal code</th>
                <th>City</th>
                <th>Deaktiver nu</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Contact ID">17</td>
                <td data-title="Load address code">EFEK4547039</td>
                <td data-title="Name">Euroline system GmbH</td>
                <td data-title="Address">Ila genter Ufer</td>
                <td data-title="Postal code">21543</td>
                <td data-title="City">Hamburg</td>
                <td data-title="Deaktiver nu" class="text-center"><input type="checkbox"></td>
              </tr>
              <tr>
                <td data-title="Contact ID">17</td>
                <td data-title="Load address code">JFEK4547039</td>
                <td data-title="Name">Euroline system GmbH</td>
                <td data-title="Address">Am genter Ufer</td>
                <td data-title="Postal code">21543</td>
                <td data-title="City">Hamburg</td>
                <td data-title="Deaktiver nu" class="text-center"><input type="checkbox"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->

        <div class="actions">
          <button type="button" class="btn btn-success"><i class="fa fa-refresh"></i> Update</button>
        </div>
        <!-- actions -->

        <hr>
        
        <div class="table-responsive">
          <table class="js-sortable-table sortable-table table table-bordered table-striped table--my-addresses">
            <thead>
              <tr>
                <td colspan="7">
                  <h4>My Unload addreses</h4>
                </td>
              </tr>
              <tr>
                <th>Contact ID</th>
                <th>Load address code</th>
                <th>Name</th>
                <th>Address</th>
                <th>Postal code</th>
                <th>City</th>
                <th>Deaktiver nu</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Contact ID">17</td>
                <td data-title="Load address code">GFEK4547039</td>
                <td data-title="Name">Euroline system GmbH</td>
                <td data-title="Address">Am genter Ufer</td>
                <td data-title="Postal code">21543</td>
                <td data-title="City">Hamburg</td>
                <td data-title="Deaktiver nu" class="text-center"><input type="checkbox"></td>
              </tr>
              <tr>
                <td data-title="Contact ID">17</td>
                <td data-title="Load address code">JFEK4547039</td>
                <td data-title="Name">Euroline system GmbH</td>
                <td data-title="Address">Am genter Ufer</td>
                <td data-title="Postal code">31543</td>
                <td data-title="City">Hamburg</td>
                <td data-title="Deaktiver nu" class="text-center"><input type="checkbox"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->

        <div class="actions text-right">
          <button type="button" class="btn btn-success"><i class="fa fa-refresh"></i> Update</button>
        </div>
        <!-- actions -->

      </div>
      <!-- cols -->
    </div>
    <!-- row -->


  </fieldset>
</form>
