
<?php include_once('partials/back-button.php'); ?>

<h1 class="page-header">Open Shipments</h1>

<form class="form-horizontal">
  <fieldset>

    <div class="row">
      <div class="col-lg-4 col-md-12">
        <legend>Shipment details:</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Shipment no.</label>  
          <div class="col-md-8">
          <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Reference</label>  
          <div class="col-md-8">
          <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">File no.</label>  
          <div class="col-md-8">
          <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Freight no. filter</label>  
          <div class="col-md-8">
          <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
          </div>
        </div>

      </div>
      <!-- cols -->
      <div class="col-lg-4 col-md-12">
        <legend>Loading date:</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">From</label>  
          <div class="col-md-8">
            <div class="input-group">
              <input class="datepicker__input form-control" data-date-format="dd-mm-yyyy">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <span class="help-block">Format: dd-mm-yyyy</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">To</label>  
          <div class="col-md-8">
            <div class="input-group">
              <input class="datepicker__input form-control" data-date-format="dd/mm/yyyy">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <span class="help-block">Max 90 days. Format: dd-mm-yyyy</span>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="selectbasic">Sorting</label>
          <div class="col-md-8">
            <select id="selectbasic" name="selectbasic" class="form-control">
              <option value="1">Loading date</option>
              <option value="2">Option two</option>
              <option value="3">Option three</option>
            </select>
          </div>
        </div>
      </div>
      <!-- cols -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
      <!-- cols -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
            <table class="js-sortable-table sortable-table table table-bordered table-striped table-hover table--open-shipments">
                <thead>
                    <tr>
                      <td colspan="7">
                        <h4>Euroline</h4>
                      </td>
                    </tr>
                    <tr>
                        <th>Shipments No.</th>
                        <th>Freight No.</th>
                        <th>Unloading Name</th>
                        <th>Reference</th>
                        <th>File No.</th>
                        <th>Loading date</th>
                        <th>Annulleret</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Shipments No."><a href="index.php?page=pages/shipment-information.html">579042385</a></td>
                        <td data-title="Freight No.">579042385</td>
                        <td data-title="Unloading Name">579042385</td>
                        <td data-title="Reference">579042385</td>
                        <td data-title="File No.">579042385</td>
                        <td data-title="Loading date">579042385</td>
                        <td data-title="Annulleret"><a href="index.php?page=pages/shipment-status.html" class="text-danger">C cancelled</a></td>
                    </tr>
                    <tr>
                        <td data-title="Shipments No."><a href="index.php?page=pages/shipment-information.html">579042385</a></td>
                        <td data-title="Freight No.">WH8374092</td>
                        <td data-title="Unloading Name">WH8374092</td>
                        <td data-title="Reference">WH8374092</td>
                        <td data-title="File No.">WH8374092</td>
                        <td data-title="Loading date">WH8374092</td>
                        <td data-title="Annulleret"><a href="index.php?page=pages/shipment-status.html" class="text-success">A cancelled</a></td>
                    </tr>
                    <tr>
                        <td data-title="Shipments No."><a href="index.php?page=pages/shipment-information.html">579042385</a></td>
                        <td data-title="Freight No.">Larry</td>
                        <td data-title="Unloading Name">the Bird</td>
                        <td data-title="Reference">@twitter</td>
                        <td data-title="File No.">Larry</td>
                        <td data-title="Loading date">the Bird</td>
                        <td data-title="Annulleret"><a href="index.php?page=pages/shipment-status.html" class="text-info">B cancelled</a></td>
                    </tr>
                    <tr>
                        <td data-title="Shipments No."><a href="index.php?page=pages/shipment-information.html">579042385</a></td>
                        <td data-title="Freight No.">Larry</td>
                        <td data-title="Unloading Name">the Bird</td>
                        <td data-title="Reference">@twitter</td>
                        <td data-title="File No.">Larry</td>
                        <td data-title="Loading date">the Bird</td>
                        <td data-title="Annulleret"><a href="index.php?page=pages/shipment-status.html" class="text-warning">D cancelled</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        <div class="actions text-right">
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
            <button type="button" class="btn btn-success"><i class="fa fa-refresh"></i> Update</button>
          </div>
        </div>
        <!-- actions -->
      </div>
      <!-- cols -->
    </div>
    <!-- row -->


  </fieldset>
</form>
