
<?php include_once('partials/back-button.php'); ?>

<h1 class="page-header">Shipment information</h1>

<form class="form-horizontal">
  <fieldset>

    <div class="row">
      <div class="col-lg-4 col-md-12">
        <legend>Loading address:</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Unloading name</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="Bech-Hansen & Studsgaard - 301" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Load address Postal code</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="2630" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Load address location</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="Tastrup" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Loading date</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="01-10-2015" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Sender Name</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="Bech-Hansen & Studsgaard - 301" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Agent Reference</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Reference</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="Test" class="form-control input-md">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Loading Reference</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="" class="form-control input-md">
          </div>
        </div>


      </div>
      <!-- cols -->
      <div class="col-lg-4 col-md-12">
        <legend>Loading date:</legend>
              <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Unloading name</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="test af ordre" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Postal code</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="3700" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Location</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="Ranne" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Expected unloading date</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="02-10-2015" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Addressee Name</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Freight No.</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="WKJH389472" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Unloading Reference</label>  
          <div class="col-md-8">
          <input disabled="disabled" name="textinput" type="text" value="" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Show confirmation</label>  
          <div class="col-md-8">
          <div class="btn btn-md btn-warning"><i class="fa fa-arrow-down"></i></div>
          </div>
        </div>

      </div>
      <!-- cols -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
      <!-- cols -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table--shipment-information">
                <thead>
                    <tr>
                      <td colspan="7">
                        <h4>Euroline</h4>
                      </td>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <th>Eenheidscode</th>
                        <th>Item no.</th>
                        <th>Item Description</th>
                        <th>Weight (kg)</th>
                        <th>Loading Meter (lm)</th>
                        <th>Volume (m3)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Quantity">1</td>
                        <td data-title="Eenheidscode">PL2</td>
                        <td data-title="Item no.">342</td>
                        <td data-title="Item Description">eurolinegoods</td>
                        <td data-title="Weight (kg)">2</td>
                        <td data-title="Loading Meter (lm)">0</td>
                        <td data-title="Volume (m3)">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        <div class="actions text-right">
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
            <button type="button" class="btn btn-success"><i class="fa fa-refresh"></i> Update</button>
          </div>
        </div>
        <!-- actions -->
      </div>
      <!-- cols -->
    </div>
    <!-- row -->


  </fieldset>
</form>
