
<?php include_once('partials/back-button.php'); ?>

<h1 class="page-header">Status log</h1>

<form class="form-horizontal">
  <fieldset>

    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table--shipment-status">
                <thead>
                    <tr>
                      <td colspan="7">
                        <h4>Status</h4>
                      </td>
                    </tr>
                    <tr>
                        <th>Waybill No.</th>
                        <th>Status</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>tid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Waybill No.">WHJ430298</td>
                        <td data-title="Status">Cancelled</td>
                        <td data-title="Status">40</td>
                        <td data-title="Date">20-03-2015</td>
                        <td data-title="tid">9:00:03 AM</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- cols -->
    </div>
    <!-- row -->


  </fieldset>
</form>
