
<?php include_once('partials/back-button.php'); ?>

<h1 class="page-header">Update profile</h1>

<!-- /.row -->
<form class="form-horizontal">
  <fieldset>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <legend>Skift password</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Name</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" value="Euroline System GmbH" placeholder="" class="form-control input-md">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Username</label>
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="text" value="Euroline" placeholder="" class="form-control input-md">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Password</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="password" value="password" placeholder="Password" class="form-control input-md">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">New Password</label>
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="password" value="password" placeholder="New Password" class="form-control input-md">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Confirm Password</label>  
          <div class="col-md-8">
            <input id="textinput" name="textinput" type="password" value="password" placeholder="Confirm Password" class="form-control input-md">
          </div>
        </div>

      </div>
      <!-- cols -->
    </div>
    <!-- row -->
    <hr>
    <div class="actions text-right">
      <div class="form-group col-md-12">
        <button type="button" class="btn btn-success"><i class="fa fa-check"></i> Ok</button>
        <button type="button" class="btn btn-warning"><i class="fa fa-times"></i> Cancel</button>
      </div>
    </div>
    <!-- actions -->


</fieldset>
</form>
